.card-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  &__item {
    width: calc(33.3333% - 20px);
    margin: 0 10px;
    @media (max-width: 980px) {
      width: calc(50% - 20px);
    }
  }
}