#root {
  background-color: aliceblue;
  color: #0b0b2a;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  h2 {
    text-align: center;
  }
  @media (prefers-color-scheme: dark) {
    background-color: #0b0b2a;
    color: aliceblue;
  }
}